<!DOCTYPE html>
<html lang="ja">
  <head>
   <title>
    ガンマン時計のAI読み取り
   </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
function dispImg() {
    var url = $("#url_input").val();
    $("#img").attr("src", url);
    $("#url").val(url);
//    $("#AIOut2").val("");
    document.getElementById("result").style.display = "none";
}	     
function dispImg2() {
    var url = $("#url_select").val();
    $("#img").attr("src", url);
    $("#url").val(url);
//    $("#AIOut2").val("");
    document.getElementById("result").style.display = "none";

}	     

//window.onload = function(){
//    dispImg2();
//}

</script>
<style type="text/css">
body,td,button,input,select {
	font-size: 30px;
}
img {
	max-width: 320px;
}
</style>

  </head>

  <body>

   画像選択：
   <select id="url_select" onchange="dispImg2()">
    {% for opt in url_select_options %}
     <option value="{{ opt }}">{{ opt }}</option>
    {% endfor %}
   </select>
   <p>

   自由記述：
   <input type="text" id="url_input" name="url_input" value="{{ url }}" size="80">
   <button onclick="dispImg()">表示</button>

   <p>
   <img id="img" src="{{ url }}">
   <p>

   <form action="/gunmanPrediction" method="POST">
    <input type="hidden" name="url" id="url" value="{{ url }}">
    <input type="submit" value="画像を判別">
   </form>
   <p>

<div id="result">
   {{ mytime }} だと思います。
</div>

  <hr>

  </body>

</html>
