<!DOCTYPE html>
<html lang="ja">
  <head>
   <title>
    ガンマン画像のAI判別
   </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
function changeFile(obj){
    console.log(obj.id);
    fileform = document.getElementById('fileform');
    fileform.submit();
    document.getElementById("result").style.display = "none";
}

window.onload = function() {
  document.getElementById("result").style.display = "{{ result_display }}" ;
}

</script>
<style type="text/css">
body,td,button,input,select {
	_font-size: 30px;
}
img {
	max-width: 320px;
}
</style>

  </head>

  <body>

    ガンマン判定をしたい画像を選択してください。
    <p>

    <form method="POST" enctype="multipart/form-data" id="fileform">
      <input type="file" name="file" onchange="changeFile(this);">
      <p>
      <input type="submit" value="画像を判別" style="display:none;">
    </form>

    <p>

<div id="result">

    <img src="{{ imgfilename }}">

   <p>

   <table border="1" cellspacing="1" cellpadding="1">
    <tr> <td> ガンマン率     </td><td align="right"> {{ gunman }}   % </td> </tr>
    <tr> <td> ウルトラマン率 </td><td align="right"> {{ ultraman }} % </td> </tr>
    <tr> <td> 仮面ライダー率 </td><td align="right"> {{ rider }}    % </td> </tr>
    <tr> <td> プリキュア率   </td><td align="right"> {{ precure }}  % </td> </tr>
   </table>

   <p>
   {{ ret2 }}
</div>

  <hr>
  <p>
   <a href="https://colab.research.google.com/drive/1AZXJ7lyBo_6dvDyYLxBPLIr-VwTPxC-C">
     Colaboratory で解説(python notebook)
   </a>
  <p>

  </body>

</html>
